.verificationCSS {
    background-color: violet;
}

.beautifullPrintBLUE {
    background-color: rgb(70, 191, 221);
}

.beautifullPrintRED {
    background-color: rgb(228, 87, 87);
}
.beautifullPrintGREEN {
    background-color: rgb(146, 218, 129);
}
.beautifullPrintYELLOW {
    background-color: rgb(236, 227, 90);
}
